<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
<style type="text/css">

h2 {    
        background-color: rgb(5, 214, 5);
        width: 100%;
        }
pre.test {
  border-style: groove;
  background-color: rgb(5, 214, 5);
  border-color: rgb(5, 214, 5);
  width: 90%;
  font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none
}
pre.groove {
    border-style: groove;
    width: 90%;
    top: 70px;
    font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none

}
p.groove {
    border-style: groove;
    width: 91%;
    top: 70px;
    font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none

}
.serif {
font-family: "Times New Roman", Times, serif;
}

.p {
    border-bottom: 1px solid black;
    line-height: 2000px;
    top: 700px;
}
table, th, td {
        border: 1px solid black;
        }

span.cls_002{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:"Calibri Bold",serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
pre.cls_004{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:"Calibri",serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}

</style>

<script type="text/javascript" src="a77abc8c-c71d-11ea-8b25-0cc47a792c0a_id_a77abc8c-c71d-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>

<div style="position:absolute;left:0px;top:0px"><img src="http://localhost:3000/be.png" style="position:absolute;left:40px;top:41.42px" width=120 height=120></div>
<div style="position:absolute;left:86%;top:30.42px" class="cls_004"><span class="cls_004" style="font-size: 20pt"><b>INVOICE</b></span></div>
<div style="position:absolute;left:86.3%;top:6%" class="cls_004"><span class="cls_004" style="font-size: 10pt; font-weight: 500;"><b>Be Management</b></span></div>
<div style="position:absolute;left:82%;top:99.03px" class="cls_004"><span class="cls_004">Jl. BSD Raya Utama No. 63</span></div>
<div style="position:absolute;left:86.5%;top:112.45px" class="cls_004"><span class="cls_004">Tangerang - Banten</span></div>
<div style="position:absolute;left:95.5%;top:125.85px" class="cls_004"><span class="cls_004">15338</span></div>
<div style="position:absolute;left:83.5%;top:139.25px" class="cls_004"><span>Phone: 0818 0669 1710</span></div>
<div style="position:absolute;left:85%;top:152.65px" class="cls_004"><span class="cls_004">www.bresidence.com</span></div>


<p style="position:relative;left:30.83px;top:170.65px" class="p"></p>
<div style="position:absolute;left:5%;top:180px" class="cls_004"><span class="cls_004" style="font-weight: bold;font-size: medium;">Bill To</span></div>


<div style="position:absolute;left:5%;top:205px" class="cls_004"><span class="cls_004" style="font-weight: bold;">Bapak / Ibu <%= billing.parking.customer%></span></div>

<div style="position:absolute;left:5%;top:229px" class="cls_004"><span class="cls_004">Unit: <%= billing.parking.unitcustomer%></div>


<div style="position:absolute;left:500px;top:205px" class="cls_004"><span class="cls_004">Invoice No: <span style="text-transform: uppercase;"><%= billing.billingNo  %></span></div>
<div style="position:absolute;left:500px;top:217px" class="cls_004"><span class="cls_004">Invoice Date: <%= moment(billing.billing_date).format('DD / MM / YYYY') %></span></div>
<div style="position:absolute;left:500px;top:229px" class="cls_004"><span class="cls_004">Payment Due: <%= moment(billing.dueDate).format('DD / MM / YYYY') %> </span></div>
<div style="position:absolute;left:500px;top:243px" class="cls_004"><span class="cls_004">Period : </div>

  <div style="position:absolute;left:5%;top:300px;width:640px;" class="cls_004">
    <table style="width:100%" class="w3-table-all w3-tiny">
        <tr class="w3-green">                              
          <th width="55%" >Description</th>
          <th width="15%">Usage</th>
          <th width="15%">Price</th>
          <th width="15%">Amount</th>
        </tr>
        <tr>
          <td>
            <p style="font-size: small;font-weight: bold; font-family: Calibri;margin-top: 5px;" >Parking Rental</p>
            <p style="margin-top: -5px;font-family: Calibri; font-size: 11.1px;">Parking Fee</p>
          </td>
          <td>&nbsp;
          </td>
          <td>&nbsp; 
          <% var rate = billing.parking.parkingRate %>
          <p style="margin-top: 14px;font-family: Calibri;font-size: 11.1px">Rp. <%= Math.max(0, rate).toFixed(0).replace(/(?=(?:\d{3})+$)(?!^)/g, '.') %></p>
          </td>
          <td>
              <p style="margin-top:  27px;font-family: Calibri;font-size: 11.1px"></p><b>Rp. <%= Math.max(0,  rate ).toFixed(0).replace(/(?=(?:\d{3})+$)(?!^)/g, '.')%>
          </td>
        </tr>
        <tr>
            <td><b>Grand Total</b></td>
            <td>-</td>
            <td>-</td>
            <% gt = rate  %>
            <td><b>Rp. <%= Math.max(0, gt).toFixed(0).replace(/(?=(?:\d{3})+$)(?!^)/g, '.') %></b> </td>
        </tr>
</table>
</div>

<div style="position:absolute;left:37px;top:680px" class="cls_004"><span class="cls_002">Terbilang: <%= terbilang(gt) %> </span></div>
<div style="position:absolute;left:37px;top:710px" class="cls_004"><span class="cls_004">Hormat Kami, </span></div>   
<div style="position:absolute;left:37px;top:750px" class="cls_004"><span class="cls_004">Keuangan AR </span></div>     

<div style="position:absolute;left:37px;top:780px" class="cls_004"><span class="cls_004">Saat pembayaran ke kasir kami,mohon tagihan ini DIBAWA </span></div>
<div style="position:absolute;left:37px;top:800px" class="cls_004"><span class="cls_004">Pembayaran dengan Cek/Bilyet/Transfer,atas nama dengan No. Virtual Account Bank BNI </span></div>
<div style="position:absolute;left:37px;top:820px" class="cls_004"><span class="cls_004">Bukti Transfer mohon di fax ke 022-87830817, Tlp : 08112289893</span></div>
<div style="position:absolute;left:37px;top:870px" class="cls_004"><span class="cls_004">Pembayaran melebihi jatuh tempo akan di kenakan denda keterlambatan</span></div>


</div>
</body>
</html>